@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Heebo", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E76F51
}

/* Logo strip scroll animation */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}